@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: white;
}
.App{
  display: flex;
  flex-direction: column
  min-height: 100vh;
  background-color: #1a1a1a;
  color: white;
  margin-top: 10px;
}